<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAqph9vQOYzXPf3iarU72pe_KnbTVpmr80</string>
	<key>GCM_SENDER_ID</key>
	<string>503750100852</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thelighthouse.picoterra</string>
	<key>PROJECT_ID</key>
	<string>pico-terra</string>
	<key>STORAGE_BUCKET</key>
	<string>pico-terra.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:503750100852:ios:f283e2ef6d8a1a43064e21</string>
</dict>
</plist>